@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
:root{

    --bg-color:#21272F;
    --text-color:#00BD95;
    --link-color: #27DA83;
}

body{
    margin: 2rem 5rem ; 
    padding: 0;
    width: 90vw;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: white;
    font-family: 'ROBOTO';
}
.head-logo{
    display: flex;
    width: 20rem;
}
.head-logo img{
    margin: 0;
    width: 3rem;
    height: 3rem;
    padding: 15px;
}
.head-logo h1{
    padding: auto;
    margin-left: 1rem;
    
}
.logo-u{
    height: 5rem;
    width: 5rem;
}
.nav-top{
    
    width: 40rem;
    justify-content: center;
    text-align: center;
    margin-left: 10rem;
}
.nav-top ul{
padding: 0;

list-style: none;
margin: 0;
width: 25rem;
margin-left: 20rem;
margin-top: -4rem;

}
.nav-top li{
    float: left;
    padding: 1rem;
    text-align: center;
    margin-left: 2rem;
    
}
.nav-top a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.nav-top li a:hover{

    color: #1EBD7F;

}
.searchbar{
    float: right;
    padding: 0;
   height: 2rem;
   text-align: center;
   justify-content: center;
    margin-top: 1rem;
    
}


.searchbox{
    padding: 0;
    height: 2rem;
    width: 10rem;
    color: white;
    background-color: transparent;
    border: 1px #00BD95 solid;
    border-left: none ;
    
    
    
}
::placeholder{
    padding: 2px;
    font-family: 'ROBOTO';
    color: white;

}
.sear-button{
    display: flex;
    float: left;
    justify-content: center;
    vertical-align: middle;
    background-color: transparent;
    border: #00BD95 1px solid;
    border-right: none;
    background-image: url(Images/icons8-search-24.svg);
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.95rem;
    background-repeat: no-repeat;
    
}
.sb-sea{
    background-color: #00BD95;
    width: 8rem;
    height: 2rem;
    padding: 2px;
    padding-right: 10px;
    border: none;
    border: #27DA83 solid 1px;
    color: white;
    font-family: 'ROBOTO';
    text-align: right;
}
.bord-bt{
    margin: 0;
    clip-path: polygon(60% 0, 100% 0%, 100% 100%, 60% 100%, 40% 50%);
    display: flex;
    height: 2.2rem;
    float: right;
    margin-left: -5rem;
}
.wave{
    height: 8rem;
    width: 50rem;
    display: flex;
    margin-left: 2rem;
    margin-top: -1rem;
}
.hello-txt{
   margin-left: 2rem;
    text-align: center;
    display: flex;
    margin-top: 6rem;
}
.hello-txt h1{
    font-family: 'ROBOTO';
    font-size: 40px;
}
.hello-txt h2{

    margin-top: 2.6rem ;
    margin-left: 1rem;
    font-size: 30px ;
    color: var(--text-color);
}
.waviy{
    color: var(--text-color);
    font-size: 45px;
    -webkit-box-reflect: below -11rem linear-gradient(transparent, rgba(0,0,0,.2));
}
.waviy span:hover {
    font-family: 'ROBOTO';
    position: relative;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    animation: waviy 1s infinite;   
  }

  @keyframes waviy {
    60%{
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
.myself{
    width: 40rem;
    text-align: left;
    margin-top: -4rem;
    margin-left: 2rem; 

}
  .myself h2{
    font-size: 30px;
    font-weight: 550;
    word-spacing: 2px;
    text-align: left;

  }
  .myself p{
    font-size: 15px;
    margin-top: 4rem;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 25px;
  }
  .myself button{

    height: 3rem;
    width: 8rem;
    color: white;
    background-color: #12CA8D;
    border:none;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: #1EBD7F 0px 20px 30px -10px;
    margin-top: 4rem;
  }
  .imagein{
    padding: 0;
    height: 40rem;
    width: 40rem;
    align-items: center;
    background-image: url(Images/hecta.png);
    float: right;
    margin-top: -1rem;

}
  .imagein img{
    width: 25rem;
    height: 25rem;
    display:flex;
    margin-left: 8.5rem;
    margin-top: 7.8rem;
    border-radius: 55px;
    -webkit-box-reflect: below -3rem linear-gradient(transparent, rgba(0,0,0,.2));
  }
  .image-vector{
    display: flex;
   float: right;
   margin-top: -35rem;
}
.links h2{

    font-weight: 400;
    margin-right: 4rem;

}
.links{

    display: flex;
    margin-left: 2rem;
    margin-top: 8rem;
    word-spacing: 2px;
    letter-spacing: 1px;
    
}
.links span{

    height: 5rem;
    width: 5rem;
    margin-left: 1.5rem;
    background-color: #165750;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 50% 100%, 0 75%, 0 25%);
    word-spacing: 5rem;
    padding: 5px;
    margin-top: -0.5rem;
} 
.links img{
        margin-left: 15px;
        margin-top:  15px;
}
.links span:hover{
    background-color: var(--text-color);
  
}